/* Full page wrapper */
.birthday-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#ff9eb8, #ffd1e6);
}

/* Fireworks canvas */
#fireworks-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* Balloons */
.balloon {
  position: absolute;
  font-size: 4rem;
  animation: float 6s infinite ease-in-out;
  opacity: 0.8;
}

.balloon1 { left: 10%; top: 70%; animation-delay: 0s; }
.balloon2 { left: 50%; top: 80%; animation-delay: 1s; }
.balloon3 { left: 80%; top: 75%; animation-delay: 2s; }

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0px); }
}

/* Card */
.birthday-card {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(255, 0, 90, 0.3);
  animation: fadeIn 1.2s ease;
}

/* Photo */
.birthday-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 8px 25px rgba(255, 0, 100, 0.3);
}

/* Title */
.birthday-title {
  font-size: 1.5rem;
  color: #e91e63;
  margin-bottom: 10px;
}

/* Text */
.birthday-text {
  font-size: 1rem;
  color: #444;
  line-height: 1;
  margin-bottom: 25px;
}

/* Button */
.birthday-btn {
  background: #e91e63;
  color: white;
  padding: 10px 25px;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(233, 30, 99, 0.4);
  transition: 0.3s;
}

.birthday-btn:hover {
  transform: scale(1.06);
  background: #ff3f85;
}

.back-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: rgba(255, 255, 255, 0.95);
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.back-btn:hover {
  background: #ffe6ea;
  transform: scale(1.05);
}
.heart-rain span {
  position: fixed;
  top: -10%;
  font-size: 2rem;
  animation: fall 4s linear infinite;
}

.heart-rain span:nth-child(n) {
  left: calc(5% * var(--i));
}

@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) scale(0.6);
    opacity: 0;
  }
}



/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}
